@media (min-width:300px) and (max-width:750px) {
    .header-mother-box {
        max-width: 342px;
        height: 29px;
    }

    .box-logo {
        max-width: 73px;
        height: 29px;
        transition: all;
        transition-duration: 0.5s;
    }

    .box-logo:hover {
        transform: scale(1.1);
    }

    .logo {
        object-fit: cover;
        width: 100%;
    }

    .navigation-1 {
        display: none;
    }

    .mother-box-login {
        display: none;
    }

    .burger-bar {
        max-width: 24px;
        height: 24px;
        width: 100%;
        display: grid;
        place-items: center;
        margin-top: 2.5px;
        transition: all;
        transition-duration: 0.5s;
        box-shadow: 5px 5px 10px;
    }

    .burger-bar:hover {
        transform: scale(1.1);
        background-color: #282e28;
    }

    /* ! section-1-style */
    .section-1-mother {
        max-width: 342px;
        height: 260px;
        width: 100%;
        margin-top: 14px;
    }

    .section-1-h4 {
        font-size: 38px;
        font-weight: 500;
        margin-top: 20px;

    }

    .section-1-pharagrap {
        max-width: 342px;
        height: 48px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-top: 16px;

    }

    .get-started-2 {
        font-size: 14px;
        max-width: 90px;

    }

    /* !section-2 */
    .box-baner-image-1 {
        max-width: 342px;
        height: 380px;
        width: 100%;
        margin-top: 82px;
        background-image: url(../image/image.375.baner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;

    }

    .baner-image {
        display: none;
    }

    /* ! section-3 */
    .section-3-mother {
        max-width: 440px;
    }

    .section-3-mother-icon {
        max-width: 440px;
    }

    .image-forbes {
        max-width: 60px;
        width: 100%;
        height: 15px;
        margin-top: 20px;
    }

    .image-cnbc {
        max-width: 40px;
        height: 30px;
        width: 100%;
        margin-top: 12px;
    }

    .image-bloomberg {
        max-width: 60px;
        height: 24px;
        width: 100%;
        margin-top: 18px;
    }

    .image-reuters {
        max-width: 60px;
        height: 17px;
        width: 100%;
        margin-top: 20px;
    }

    .image-cnn {
        max-width: 50px;
        height: 23px;
        width: 100%;
        margin-top: 20px;
    }

    .section4-34-mother-pharagrap {
        max-width: 342px;
        width: 100%;
        margin: auto;
        display: grid;
        align-content: space-between;
    }

    .section4-34-h5-bottom {
        font-size: 32px;
        font-weight: 500;
        min-height: 99px;
        padding-top: 8px;
    }

    .section4-34-pharagrap {
        font-size: 16px;
        line-height: 24px;
        height: 72px;

    }

    /* ! section 4  */
    .section-4-grandmother {
        max-width: 342px;

    }

    .section-4-top-mother {
        max-width: 342px;
        height: 846px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .top-son-left {
        max-width: 342px;
        height: 395px;
    }

    .top-son-left-2 {
        max-width: 294px;
        height: 154.88px;
    }

    .top-grandson1-left {
        max-width: 232.97px;
        height: 43.97px;
        width: 100%;
    }

    .grandosn-1right {
        height: 43.97px;
    }

    .section-4-box {
        max-width: 294px;
        height: 49.87px;
    }

    .section-4-icon1 {
        max-width: 23.62px;
        height: 23.62px;
        width: 100%;
    }

    .section-4-pharagrap1 {
        max-width: 221.34px;
        height: 12.48px;
        font-size: 12px;
        line-height: 14px;
    }

    .section-4-pharagrap2 {
        font-size: 14px;
    }

    .section-4-grandson-2-left-botom-box {
        max-width: 294px;
        min-height: 102px;
        margin: auto;
        margin-top: 87.13px;
    }

    .section-4-left-pharagrap1 {
        font-size: 24px;
        line-height: 28px;
    }

    .section-4-left-pharagrap2 {
        font-size: 16px;
        line-height: 24px;
    }

    .top-son-right {
        max-width: 342px;
        height: 395px;
    }

    .top-son-right-2 {
        max-width: 342px;
        height: 164px;
    }

    .top-grandson1-right {
        max-width: 266px;
        height: 46px;
    }

    .section-4-icon1-right {
        max-width: 28.75px;
        height: 28.75px;
    }

    .section4-icon1-right {
        max-width: 18px;
        height: 18px;
    }

    .section-4-pharagrap-right-1 {
        font-size: 14px;
        text-align: center;
    }

    .grandson-right-pharagrap-2 {
        font-size: 16px;
        width: 70%;
        text-align: center;
    }

    .grandosn-1right {
        max-width: 294px;
    }

    .section-4-mother-pharagrap {
        max-width: 292px;
        min-height: 116px;
    }

    .section4-pharagrap1-right {
        font-size: 24px;
        line-height: 28px;
    }

    .section4-pharagrap2-right {
        font-size: 16px;
        line-height: 24px;
    }

    /* ! section-4-bottom-mother */
    .section-4-bottom-mother {
        display: flex;
        flex-direction: column;
        max-width: 342px;
    }

    .bottom-son-left {
        max-width: 342px;
        display: flex;
        flex-direction: column;
    }

    .bottom-son-left1 {
        max-width: 294px;
        height: 120.2px;
    }
    .section4-pharagrap1-bottom {
        font-size: 18px;

    }
    .section4-pharagrap2-bottom {
        font-size: 10px;

    }

    .section-4-bottom-left-pharagraps-box {
        max-width: 294px;
        height: 116px;
    }

    .section4-pharagrap3-bottom {
        font-size: 24px;
        line-height: 28px;
    }

    .section4-pharagrap4-bottom {
        font-size: 16px;
        line-height: 24px;
    }

    .section-4-right-grendmother {
        max-width: 342px;
        width: 100%;
    }

    .section-4right-pharagrap-mother {
        max-width: 294px;
        height: 116px;
    }

    .section4-right-pharagrap1 {
        font-size: 24px;
        line-height: 28px;
    }

    .section4-right-pharagrap2 {
        font-size: 16px;
        line-height: 24px;
    }

    /* ! section 5 */
    .section-5-grendmother {
        max-width: 342px;
    }

    .section-5-mother-pharagrap {
        max-width: 342px;
        min-height: 184px;
    }

    .section-5-h5 {
        font-size: 36px;
    }

    .section-5-top-pharagrap {
        font-size: 16px;
        line-height: 24px;
    }

    .section-5-baner1 {
        display: none;
    }

    .section-5-baner {
        background-image: url(../image/svg.375.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px;
    }

    .section-5-bottom-box {
        max-width: 342px;
        height: 358px;
        display: flex;
        flex-direction: column;
    }

    .section-5-bottom-last {
        max-width: 342px;
        height: 106px;
    }

    .section5-h5 {
        font-size: 20px;
        max-width: 300px;
    }

    .section5-pharagrap {
        font-size: 16px;
        line-height: 24px;
    }

    .section-5-icon-and-h5-mother {
        max-width: 19.5px;
        height: 19.5px;
    }

    /* ! section 6 */
    .section-6-grendmother {
        max-width: 390px;
    }

    .section-6-h5-mother {
        max-width: 390px;
    }

    .section-6-h5 {
        font-size: 48px;
        text-align: start;
        width: 90%;
    }

    .section-6-pharagrap-box-mother {
        max-width: 342px;
        min-height: 208px;
        margin: auto;
        margin-top: 96px;
    }

    .section-6-title-box {
      min-height: 206px;
    }

    .section6-h5 {
        font-size: 36px;
    }

    .section6-pharagrap-1 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 34px;
    }

    .section-6-mother-2box {
        max-width: 342px;
        height: 912px;
        display: flex;
        flex-direction: column;
    }

    .section-6-left-box {
        max-width: 342px;
        width: 90%;
        height: 410px;
        margin: auto;
    }

    .section-6-pharagrap-mother {
        max-width: 294px;
        margin: auto;
    }

    .section-6-h6 {
        font-size: 24px;
        line-height: 28px;
    }

    .section-6-pharagrap-2 {
        font-size: 16px;
        line-height: 24px;
    }

    .section-6-icon-mother {
        margin: auto;
    }

    .section-6-icon {
        width: 100%;
        background-image: url(../image/svg.112.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-6-icon-1 {
        background-image: url(../image/svg.111.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section6-icon {
        width: 100%;
        display: none;
    }

    .section-6-bottom-box-mother {
        max-width: 342px;
        height: 54px;
        margin: auto;
        margin-top: 60px;
    }

    .section-6-bottom-box1 {
        max-width: 38px;
    }

    .section-6-bottom-box2 {
        max-width: 89px;
    }

    .section-6-bottom-box3 {
        max-width: 42px;
    }

    .section-6-bottom-box4 {
        max-width: 81px;
    }

    .section6-bottom-h6 {
        font-size: 20px;
    }

    .section-6-bottom-pharagrap1 {
        font-size: 12px;
    }

    /* ! section 7 */
    .section7-baner {
        display: none;
    }

    .section-7-baner-image {
        background-image: url(../image/Frame.150.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 99%;
        border-radius: 16px;
        margin-top: 60px;
    }

    /*  ! section 8 */
    .section-8-grendmother-box {
        max-width: 342px;
        margin: auto;
        margin-top: 96px;
    }

    .section-8-pharagrap-mother-box {
        max-width: 342px;
        height: 233px;
        margin: auto;
    }

    .section-8-h3 {
        max-width: 342px;
        font-size: 16px;
    }

    .section-8-h5 {
        font-size: 36px;
        height: 86px;
    }

    .section-8-pharagrap1 {
        font-size: 16px;
        max-width: 342px;
    }

    .section-8-bottom-box {
        display: grid;
        max-width: 342px;
        min-height: 382px;
        row-gap: 32px;
    }

    .section-8-mother-box {
        max-width: 342px;
        min-height: 106px;
    }

    .section-8-icon-box {
        max-width: 24px;
        height: 24px;
    }

    .section-8-icon-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-left: 6px;
    }

    .section-8-h6 {
        font-size: 20px;
        margin-left: 6px;
    }

    .section-8-last-pharagrap {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    /* ! section 9 */
    .section-9-grendmother-box {
        max-width: 342px;
        margin: auto;
        margin-top: 48px;
    }

    .sectio-9-h2 {
        max-width: 324px;
        font-size: 30px;
        min-height: 62px;
    }

    .section-9-mother-box {
        display: grid;
        grid-template-columns: auto;

    }

    .section-9-son-box {
        max-width: 342px;
        border-left: none;

    }

    .section-9-icon-mother-box3 {
        margin-top: 20px;
    }

    .section-9-pharagrap1 {
        max-width: 278px;
        font-size: 16px;
        line-height: 28px;
    }

    .section-9-icon-mother-box {
        max-width: 278px;
        min-height: 70px;
        margin-top: 10px;

    }

    .section-9-icon-name {
        max-width: 218px;
        min-height: 40px;

    }

    .section-9-h4 {
        font-size: 14px;
        line-height: 12px;

    }

    .section-9-pharagrap2 {
        font-size: 12px;
        margin-top: 12px;
    }

    .section9-icon-box {
        max-width: 40px;
        min-height: 40px;
        width: 100%;
        height: 100%;
        border-radius: 90x;
        margin-top: 12px;
    }

    .section-9-icon-image {
        width: 100%;
        object-fit: cover;


    }

    /* ! footer */
    .footer-box-grendmother {
        max-width: 342px;
        margin: auto;

    }

    .footer-h2 {
        font-size: 60px;

    }

    .from-teg1 {
        max-width: 342px;
        width: 98%;
        margin: auto;

    }

    .name {
        max-width: 342px;
        width: 100%;
    }

    .name2 {
        max-width: 342px;
        width: 100%;
    }

    .option1 {
        max-width: 342px;
        width: 100%;
    }

    .footer-logo-box {
        display: flex;
        align-items: center;
        max-width: 212px;
        height: 56px;

    }

    .image-375 {
        background-image: url(../image/logo.375.svg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 72px;
        height: 72px;
        width: 100%;

    }

    .footer-h1 {
        font-size: 50px;
        padding-top: 50px;
        height: 56px;
        width: 100%;
        height: 100%;
        border-radius: 100px;
    }

    .footer-logo1 {
        display: none;
    }

    .footer-navigation-mother {
        display: flex;
        flex-direction: column;
        max-width: 342px;
        width: 100%;
        margin: auto;
    }

    .footer-navigation-box1 {
        max-width: 342px;
        height: 120px;
    }

    .QR-image {
        display: none;
    }

    .footer-QR {
        background-image: url(../image/QR.375.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .scan-QR-box {
        max-width: 218px;
        height: 78px;
        width: 100%;

    }

    .footer-h6 {
        margin-top: 10px;
    }

    .footer-pharagrap1 {
        font-size: 16px;

    }

    .footer-icon-mother-box {
        max-width: 60px;
        height: 26px;
        margin-top: 30px;
    }

    .footer-navigation-box-mother {
        max-width: 342px;
        height: 259px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-box1 {
        max-width: 200px;
        width: 100%;

    }

    .footer-box2 {
        max-width: 141px;
        width: 100%;

    }

    .footer-box-language {
        max-width: 342px;
        margin-top: 40px;
    }

    .footer-form-2 {
        max-width: 150px;
        width: 100%;
    }

    .footer-select-2 {
        max-width: 150px;
        width: 100%;
    }
    .lable-2 {
        font-size: 16px;
    }


}