@media (min-width:300px) and (max-width:710px) {
    .header-mother-box {
        max-width: 342px;
        height: 29px;



    }

    .box-logo {
        max-width: 73px;
        height: 29px;
        transition: all;
        transition-duration: 0.5s;


    }

    .box-logo:hover {
        transform: scale(1.1);
    }

    .logo {
        object-fit: cover;
        width: 100%;
    }

    .navigation-1 {
        display: none;
    }

    .mother-box-login {
        display: none;
    }

    .borger-bar {
        max-width: 24px;
        height: 24px;
        width: 100%;
        display: grid;
        place-items: center;
        margin-top: 2.5px;
        transition: all;
        transition-duration: 0.5s;
    }

    .borger-bar:hover {
        transform: scale(1.1);
        background-color: #282e28;
    }

    /* section-1-style */
    .section-1-mother {
        max-width: 342px;
        height: 260px;
        width: 100%;
        margin-top: 14px;
    }

    .section-1-h4 {
        font-size: 40px;
        font-weight: 500;
        margin-top: 20px;

    }

    .section-1-pharagrap {
        max-width: 342px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 16px;

    }

    .get-started-2 {}

    /* section-2 */
    .box-baner-image-1 {
        max-width: 342px;
        height: 380px;
        width: 100%;
        margin-top: 82px;
        background-image: url(../image/image.375.baner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;

    }

    .baner-image {
        display: none;
    }

    /* ! section-3 */
    .section-3-mother {
        max-width: 440px;
        height: 335px;
    }

    .section-3-mother-icon {
        max-width: 440px;


    }

    .image-forbes {
        max-width: 60px;
        width: 100%;
        height: 15px;
        margin-top: 20px;
    }

    .image-cnbc {
        max-width: 40px;
        height: 30px;
        width: 100%;
        margin-top: 12px;
    }

    .image-bloomberg {
        max-width: 60px;
        height: 24px;
        width: 100%;
        margin-top: 18px;
    }

    .image-reuters {
        max-width: 60px;
        height: 17px;
        width: 100%;
        margin-top: 20px;
    }

    .image-cnn {
        max-width: 50px;
        height: 23px;
        width: 100%;
        margin-top: 20px;
    }

    .section-3-mother-pharagrap {
        max-width: 342px;
        height: 182px;
        width: 100%;
        margin: auto;
        display: grid;
        align-content: space-between;
        margin-top: 30px;
    }

    .section-3-h5-bottom {
        font-size: 36px;
        font-weight: 500;
        height: 86px;
    }

    .section-3-pharagrap {
        font-size: 16px;
        line-height: 24px;
        height: 72px;
    }

    /* ! section 4  */
    .section-4-grandmother {
        max-width: 342px;
        height: 1700px;
    }

    .section-4-top-mother {
        max-width: 342px;
        height: 846px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .top-son-left {
        max-width: 342px;
        height: 395px;
    }

    .top-son-left-2 {
        max-width: 294px;
        height: 154.88px;
        margin-top: 37px;
    }

    .top-grandson1-left {
        max-width: 232.97px;
        height: 43.97px;
        width: 100%;
    }

    .section-4-box {
        max-width: 294px;
        height: 49.87px;
    }

    .section-4-icon1 {
        max-width: 23.62px;
        height: 23.62px;
        width: 100%;
    }

    .section-4-pharagrap1 {
        max-width: 221.34px;
        height: 12.48px;
        font-size: 12px;
        line-height: 14px;

    }

    .section-4-pharagrap2 {
        font-size: 14px;
    }

    .section-4-grandson-2-left-botom-box {
        max-width: 294px;
        height: 92px;
        margin: auto;
        margin-top: 87.13px;
    }

    .section-4-left-pharagrap1 {
        font-size: 24px;
        line-height: 28px;
    }

    .section-4-left-pharagrap2 {
        font-size: 16px;
        line-height: 24px;
    }

    .top-son-right {
        max-width: 342px;
        height: 395px;
    }

    .top-son-right-2 {
        max-width: 342px;
        height: 164px;   
    }

    .top-grandson1-right {
        max-width: 266px;
        height: 46px;
    }

    .section-4-icon1-right {
        max-width: 28.75px;
        height: 28.75px;
    }

    .section4-icon1-right {
        max-width: 18px;
        height: 18px;
    }

    .section-4-pharagrap-right-1 {
        font-size: 12px;

    }
    .grandson-right-pharagrap-2 {
        font-size: 12px;
        width: 100%;
    }
    .grandosn-1right {
        max-width: 294px;
    }
    .section-4-mother-pharagrap {
        max-width: 292px;
        height: 116px;

    }
    .section4-pharagrap1-right {
        font-size: 24px;
        line-height: 28px;

    }
    .section4-pharagrap2-right {
        font-size: 16px;
        line-height: 24px;
    }
    /* ! section-4-bottom-mother */
    .section-4-bottom-mother {
        display: flex;
        flex-direction: column;
        max-width: 342px;
        height: 822px;
        background-color: rgb(26, 27, 27);
    }
    .bottom-son-left {
        max-width: 342px;
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */

    }
    .bottom-son-left1 {
        max-width: 294px;
        height: 120.2px;
        

    }
    .section-4-bottom-left-pharagraps-box {
        max-width: 294px;
        height: 116px;
        
    }
    .section4-pharagrap3-bottom {
        font-size: 24px;
        line-height: 28px;
    }
    .section4-pharagrap4-bottom {
        font-size: 16px;
        line-height: 24px;
    }
    .section-4-right-grendmother {
        max-width: 342px;
        width: 100%;
       
    }
    .section-4right-pharagrap-mother {
        max-width: 294px;
        height: 116px;
    }
    .section4-right-pharagrap1 {
        font-size: 24px;
        line-height:28px ;
    }
    .section4-right-pharagrap2 {
        font-size: 16px;
        line-height: 24px;
    }
} 