@media (min-width:750px) and (max-width:1024px) {
    .header-mother-box {
        max-width: 812px;
        /* width: 100%; */
        height: 35px;

    }

    .section-1-mother {
        max-width: 800px;
        height: 400px;
        display: grid;
        align-content: space-between;
        place-items: center;
        width: 100%;

    }

    .get-started-2 {}

    .box-baner-image-1 {
        max-width: 950px;
        width: 100%;
        margin-top: 50px;
    }

    .baner-image-375 {
        display: none;
    }

    /* section-3 */
    .section-3-mother {
        max-width: 696px;

    }

    /*  ! section 4 */
    .section-4-top-mother {
        max-width: 1024px;
        height: 393px;
        width: 100%
    }

    .top-son-left {
        max-width: 506px;
        height: 394px;
        width: 100%;
    }

    .top-son-left-2 {
        max-width: 410px;
        height: 136px;
        width: 100%;
    }

    .top-grandson1-left {
        max-width: 256px;
        height: 34px;
        width: 100%;
    }

    .section-4-box {
        max-width: 300px;
        width: 100%;
    }

    .section-4-pharagrap1 {
        font-size: 12px;

    }

    .section-4-pharagrap2 {
        font-size: 13px;
    }

    .section-4-icon1 {
        max-width: 26px;
        height: 26px;

    }

    .section-4-grandson-2-left-botom-box {
        max-width: 300px;
        width: 100%;
    }

    .section-4-left-pharagrap1 {
        font-size: 26px;

    }

    .section-4-left-pharagrap2 {
        font-size: 12;
    }

    .top-son-right {
        max-width: 424px;
        height: 393px;
        margin-left: 10px;
    }

    .top-son-right-2 {
        max-width: 434px;
        height: 202px;
    }

    .top-grandson1-right {
        max-width: 282px;
        height: 54px;
    }

    .grandosn-1right {
        max-width: 319px;
    }

    .section-4-icon1-right {
        max-width: 30px;
        height: 36px;
    }

    .section-4-pharagrap-right-1 {
        font-size: 16px;

    }

    .section-4-mother-pharagrap {
        max-width: 362px;
        height: 76px;
    }

    .section4-pharagrap1-right {
        font-size: 28px;
    }

    .section4-pharagrap2-right {
        font-size: 12px;
        line-height: 18px;
    }

    /* ! section 5 */
    .section-5-grendmother {
        max-width: 1024px;

    }

    .section-5-mother-pharagrap {
        max-width: 696px;
        height: 196px;
    }

    .section-5-h5 {
        font-size: 58px;
    }

    .section-5-top-pharagrap {
        font-size: 16px;
    }

    .section-5-baner {
        max-width: 1024px;
        margin-top: 70px;
        border-radius: 16px;

    }

    .section-5-baner1 {
        width: 100%;
        object-fit: cover;

    }

    .section-5-bottom-box {
        max-width: 1024px;
    }

    .section-5-bottom-last {
        max-width: 240px;
    }

    .section-5-icon-box {
        max-width: 314px;

    }

    .section5-h5 {
        max-width: 234px;

    }

    .section5-h5 {
        font-size: 14px;
    }

    .section5-pharagrap {
        font-size: 15px;
    }

    /* ! section 6  */
    .section-6-grendmother {
        max-width: 1024px;

    }

    .section-6-h5-mother {
        max-width: 1024px;

    }

    .section-6-h5 {
        font-size: 80px;
        max-width: 1024px;
    }

    .section-6-pharagrap-box-mother {
        max-width: 1024px;
    }

    .section-6-title-box {
        max-width: 796px;
        height: 204px;
        width: 90%;


    }

    .section6-h5 {
        font-size: 56px;
    }

    .section6-pharagrap-1 {
        font-size: 18px;
    }

    .section-6-mother-2box {
        max-width: 924px;
        height: 470px;
        display: flex;
        justify-content: space-around;
    }

    .section-6-left-box {
        max-width: 360px;
        height: 470px;
    }

    .section-6-pharagrap-mother {
        max-width: 386px;
        margin: auto;

    }

    .section-6-h6 {
        font-size: 24px;
        line-height: 22px;
    }

    .section-6-pharagrap-2 {
        font-size: 16px;
        line-height: 24px;

    }

    .section-6-icon-mother {
        max-width: 316px;
        margin: auto;

    }

    .section-6-icon {
        max-width: 140px;
        height: 140px;
    }

    .section-6-bottom-box-mother {
        max-width: 1024px;
    }

    .section-6-bottom-box1 {
        max-width: 131px;
    }

    .section6-bottom-h6 {
        font-size: 65px;
    }

    .section-6-bottom-pharagrap1 {
        font-size: 14px;
    }

    .section-6-bottom-box2 {
        max-width: 242px;
    }

    .section-6-bottom-box3 {
        max-width: 132px;
    }

    .section-6-bottom-box4 {
        max-width: 91px;
    }

    /* ! section 8 */
    .section-8-grendmother-box {
        max-width: 1024px;
        background-color: aqua;
        height: 970px;
    }

    .section-8-pharagrap-mother-box {
        max-width: 698px;
        height: 290px;
        background-color: blue;
    }

    .section-8-h3 {
        font-size: 16px;
        max-width: 140px;
        width: 100%;
        margin-top: 25px;
    }

    .section-8-h5 {
        font-size: 59px;
    }

    .section-8-pharagrap1 {
        font-size: 16px;
        line-height: 24px;
        max-width: 428px;
        margin-top: 2px;
    }

    .section-8-bottom-box {
        max-width: 1024px;
        background-color: blueviolet;


    }

    .section-8-h6 {
        font-size: 22px;

    }

    .section-8-last-pharagrap {
        font-size: 12px;
    }

}