.body {
    width: 100%;
    background-color: hsl(20, 20%, 20%);
    padding-top: 74px;
}

.header {
    height: 64px;
    padding-top: 16px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.header-mother-box {
    max-width: 1360px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.box-logo {
    padding-top: 3px;
    height: 27px;
}

.logo {
    object-fit: cover;
    transition: all;
    transition-duration: 0.5s;

}

.logo:hover {
    transform: scale(2.2);

}

.navigation-1 {
    max-width: 270px;
    height: 16px;
    width: 100%;
    margin-top: 8px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.li {
    font-size: 16px;
    color: aliceblue;
    transition: all;
    transition-duration: 0.5s;
    font-family: 'Cabin';
}

.li:hover {
    color: #2B892E;
    transform: scale(2.2);
}

.mother-box-login {
    max-width: 162px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Cabin';

}

.header-h5 {
    color: aliceblue;
    margin-top: 8px;
    height: 19px;
    max-width: 40px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    transition: all;
    transition-duration: 0.5s;
    font-family: 'Cabin';
}

.header-h5:hover {
    color: #2B892E;
    transform: scale(1.1);
}

.get-started {
    background-color: #2B892E;
    border-radius: 100px;
    display: grid;
    place-items: center;
    max-width: 106px;
    width: 100%;
    font-size: 16px;
    color: aliceblue;
    transition: all;
    transition-duration: 0.5s;
    font-family: 'Cabin';
}

.get-started:hover {
    transform: scale(1.1);
}

.borger-bar {
    max-width: 24px;
    height: 24px;
    width: 100%;
    display: grid;
    place-items: center;
    display: none;

}

.burger {
    max-width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 100px;
}

.burger2 {
    max-width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 2px;
}

.burger3 {
    max-width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 2px;
}

/* !section-1 style */
.section-1 {
    width: 100%;
    margin-top: 54px;

}

.section-1-mother {
    max-width: 896px;
    height: 343px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-1-h4 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    font-size: 96px;
    color: #FFFFFF;
    font-family: 'Manrope';
}

.section-1-pharagrap {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    max-width: 668px;
    margin-top: 24px;
    font-family: 'Cabin';
}

.get-started-2 {
    background-color: #2B892E;
    border-radius: 100px;
    display: grid;
    place-items: center;
    max-width: 146px;
    width: 100%;
    font-size: 16px;
    color: aliceblue;
    transition: all;
    transition-duration: 0.5s;
    height: 51px;
    margin-top: 32px;
}

.get-started-2:hover {
    transform: scale(1.1);

}

.baner-image-375 {
    display: none;
}

/* section-2 */
.section-2 {
    width: 100%;
    margin-top: 14px;
}

.box-baner-image-1 {
    margin: auto;
    max-width: 1360px;
    height: 700px;
    width: 100%;
}

.baner-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* section-3 */
.section-3 {
    width: 100%;
    margin-top: 90px;
}

.section-3-mother {
    max-width: 896px;
    height: 573.63px;
    margin: auto;
    width: 100%;
    display: grid;
    align-content: space-between;


}

.section-3-mother-icon {
    max-width: 860px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    margin-top: 40px;

}

.image-forbes {
    max-width: 120.04px;
    width: 100%;
    height: 31px;
    margin-top: 13.87px;
    transition: all;
    transition-duration: 0.5s;
}

.image-forbes:hover {
    transform: scale(2.2);
}

/* .forbes-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all;
    transition-duration: 0.5s;
} */


.image-cnbc {
    max-width: 80px;
    height: 60px;
    width: 100%;
    transition: all;
    transition-duration: 0.5s;
}

.image-cnbc:hover {
    transform: scale(2.2);
}

.image-bloomberg {
    max-width: 120px;
    height: 48px;
    width: 100%;
    margin-top: 5.37px;
    transition: all;
    transition-duration: 0.5s;
}

.image-bloomberg:hover {
    transform: scale(2.2);
}

.image-reuters {
    max-width: 120px;
    height: 34px;
    width: 100%;
    margin-top: 12.37px;
    transition: all;
    transition-duration: 0.5s;
}

.image-reuters:hover {
    transform: scale(2.2);
}

.image-cnn {
    max-width: 100px;
    height: 46px;
    width: 100%;
    margin-top: 6.37px;
    transition: all;
    transition-duration: 0.5s;
}

.image-cnn:hover {
    transform: scale(2.2);
}

.section-3-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-3-h5 {
    font-size: 20px;
    color: #BDBDBD;
    font-family: 'Manrope';

}

.section-3-h5 {
    margin: auto;
    max-width: 217px;
    height: 23px;
    text-align: center;

}

.section-3-mother-pharagrap {
    max-width: 896px;
    height: 262px;
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.section-3-h5-bottom {
    font-size: 76px;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 896px;
    height: 182px;
    text-align: center;
    width: 100%;
}

.section-3-pharagrap {
    max-width: 668px;
    height: 56px;
    font-size: 20px;
    font-weight: 500;
    color: #989898;
    text-align: center;
    font-family: 'Cabin';
}

/* ! section-4 */
.section-4-grandmother {
    max-width: 1288px;
    height: 1044px;
    background-color: #131313;
    margin: auto;
}

.section-4-top-mother {
    max-width: 1288px;
    height: 494px;
    background-color: #2B892E;
    display: flex;
    justify-content: space-between;
}

.top-son-left {
    max-width: 806px;
    height: 494px;
    background-color: chartreuse;
    width: 100%;


}

.top-grandson1-left {
    max-width: 356px;
    height: 68px;
    background-color: #222020;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 16px;
    width: 100%;
}

.section-4-icon1 {
    background-color: #2B2B2B;
    border-radius: 8px;
    max-width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    width: 100%;
    transition: all;
    transition-duration: 0.5s;
}

.section-4-icon1:hover {
    transform: scale(2.2);
}

.section4-icon1 {
    object-fit: cover;

}

.section-4-pharagrap1 {
    color: #FFFFFF;
    font-size: 16px;
    max-width: 262px;
    height: 24px;
    line-height: 24px;
}

.section-4-box {
    max-width: 448px;

}

.section-4-pharagrap2 {
    max-width: 340px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Cabin';

}

.top-son-left-2 {
    background-color: aqua;
    max-width: 448px;
    height: 236px;
    display: grid;
    align-content: space-between;
    margin: auto;
    margin-top: 71px;
}

.section-4-grandson-2-left-botom-box {
    background-color: aquamarine;
    max-width: 500px;
    height: 92px;
    margin-top: 95px;

}

.section-4-left-pharagrap1 {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 28px;
    background-color: blue;
    font-family: 'Manrope';

}

.section-4-left-pharagrap2 {
    color: #BDBDBD;
    font-size: 16px;
    line-height: 24px;
    background-color: brown;
    max-width: 516px;
    height: 48px;
    margin-top: 16px;
}

/*!section-4 right box  */
.top-son-right {
    max-width: 434px;
    height: 494px;
    background-color: aquamarine;
    width: 100%;
    /* background-color: #131313; */
}

.top-son-right-2 {
    max-width: 434px;
    height: 261px;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 54px;

}

.top-grandson1-right {
    background-color: #892b30;
    max-width: 363px;
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px
}

.section-4-icon1-right {
    background-color: #2B4089;
    border-radius: 8px;
    max-width: 40px;
    height: 46px;
    width: 100%;
    display: grid;
    place-items: center;
    transition: all;
    transition-duration: 0.5s;
}

.section-4-icon1-right:hover {
    transform: scale(2.2);
}

.section-4-pharagrap-right-1 {
    max-width: 135px;
    height: 26px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;



}

.grandosn-1right {
    max-width: 409px;

}

.grandson-right-pharagrap-2 {
    font-size: 24px;
    max-width: 249px;
    height: 28px;
}

.grandson-right-pharagrap-3 {
    max-width: 184px;
    height: 27px;
}

.section-4-mother-pharagrap {
    background-color: rgb(255, 0, 64);
    max-width: 362px;
    height: 96px;
    margin: auto;
    margin-top: 56px;

}

.section4-pharagrap1-right {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 28px;
    width: 100%;
    font-weight: 500;
    background-color: #2B892E;
    font-family: 'Manrope';
}

.section4-pharagrap2-right {
    color: #BDBDBD;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    width: 100%;
    margin-top: 16px;
    font-family: 'Cabin';
}

/* ! section-4 style- bottom box */
.section-4-bottom-mother {
    max-width: 1288px;
    height: 495px;
    background-color: #2B4089;
    margin-top: 52px;
}

.bottom-son-left {
    max-width: 440px;
    height: 495px;
    background-color: #2B892E;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;


}

.bottom-son-left1 {
    max-width: 350px;
    height: 148px;
    background-color: #333333;
    width: 100%;
    margin-top: 99px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 12px;
}

.bottom-son-left2 {
    max-width: 332px;
    height: 98px;
    width: 100%;
    background-color: blue;
}

.section-4-bottom-left-grandson1 {
    max-width: 215px;
    height: 60px;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-top: 24px; */
}

.section-4-image {
    max-width: 60px;
    height: 60px;
    border-radius: 100px;
    width: 100%;
}

.section-4-bottom-wade-warren {
    max-width: 139px;
    height: 50px;
    width: 100%;
}

.section4-pharagrap1-bottom {
    font-size: 24px;
    color: #FFFFFF;
    background-color: #2B892E;
    height: 29px;
    font-weight: 500;
    font-family: 'Cabin';


}

.section4-pharagrap2-bottom {
    font-size: 14px;
    color: #989898;
    margin-top: 4px;
    height: 17px;
    background-color: #892b30;
    font-family: 'Cabin';
}

.section-4-bottom-left-pharagraps-box {
    max-width: 362px;
    height: 92px;
    background-color: yellow;
    width: 100%;
    margin-top: 107px;
    font-family: 'Manrope';
}

.section4-pharagrap3-bottom {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 32px;
    font-weight: 500;
}

.section4-pharagrap4-bottom {
    color: #BDBDBD;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    background-color: #892b30;
    margin-top: 16px;
    font-family: 'Cabin';
}